<div class="d-flex justify-content-around navbar navbar-expand-lg navbar-light bg-light mx-auto " style="width: 40vw;">
  <div class="navbar-nav mx-3">
    <a class="nav-link" href="#">Customer </a>
  </div>
  <div class="navbar-nav mx-3">
    <a class="nav-link" href="#">Manage Products </a>
  </div>
  <form method="post" action = '/admin'  class="d-flex" role="search">
    <input class="form-control me-2" name = "search" type="search" placeholder="Search Products" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<div class="mp-2 d-flex justify-content-center flex-wrap ">
  {{#each data}}
  <div class="card mx-5 my-5" style="width: 18rem;">
    <img src={{this.image}} class="card-img-top mt-2" alt="..." width= '15' height="50%">
    <div class="card-body">
      <h5 class="card-title">{{this.productName}}</h5>
      <p>ItemID: <i>{{this._id}}</i> </p>
      <ul>
        <li>Price: $ {{this.price}}</li>
        <li>Quantity: {{this.quantity}}</li>
      </ul>
      <p class="card-text">Description: {{this.description}}. </p>
    </div>
  </div>
  {{/each}}
  
</div>