<div class="container py-5 h-100 ">
  <div class="alert alert-success d-flex justify-content-center align-items-center"  role="alert">
    We have {{numberCustomers }} customers.
  </div>
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="card mask-custom">
      <table class="table text-white mb-0">
        <thead>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">ID</th>
            <th scope="col">Orders History</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr class="fw-normal">
            <th>
              <img src="https://atg-prod-scalar.s3.amazonaws.com/studentpower/media/user%20avatar.png" alt="avatar 1"
                style="width: 45px; height: auto;">
              <span class="ms-2">{{this.fullName}}</span>
            </th>
            <td class="align-middle">
              <span>{{this.id}}</span>
            </td>
            <td class="align-middle">
              <form action="/admin/customer/orders" method="post">
                <input type="hidden" name="customerId" value="{{this.id}}">
                <button class="btn btn-warning" type="submit">Orders</button>
              </form>
              {{!-- <a class="btn btn-warning" href="/admin/order?customer={{this.id}}">Orders</a> --}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>