<div class="outline row mx-5 mt-5">
  <div class="col-md-8 cart d-flex flex-column justify-content-center gap-3">
    <div class="title">
      <div class="row">
        <div class="col">
          <h4><b>Shopping Cart</b></h4>
        </div>
        <div class="col align-self-center text-right text-muted">{{numberProduct}} items</div>
      </div>
    </div>
    {{#each data}}
    <div class="row main align-items-center">
      <div class="col-2"><img class="img-fluid" src={{this.image}}></div>
      <div class="col">
        <div class="row">{{this.productName}}</div>
      </div>
      <div class="col">
        <a>{{this.quantity}}</a>
      </div>
      <div class="col">&dollar; {{this.price}} <a class = 'mx-4 btn btn-link text-decoration-none' href="/cart/{{this.customer_id}}/edit?product_id={{this.product_id}}">Edit</a> 
      <a class="link-danger text-decoration-none" href="/cart/{{this.customer_id}}/remove?product_id={{this._id}}">Remove</a></div>
    </div>
    {{/each}}
    
    <div><a class="btn btn-info" href="/user/{{slug}}">&leftarrow; Continue Shop</a></div>
  </div>
  <div class="col-md-4 d-flex flex-column justify-content-center gap-3 summary">
    <div>
      <h5><b>Summary </b></h5>
    </div>
    <hr>
    <div class="row">
      <div class="col">ITEMS: </div>
      <div class="col text-right"> {{numberProduct}}</div>
    </div>
    <div class="row" "padding: 2vh 0;">
      <div class="col">TOTAL PRICE</div>
      <div class="col text-right">&dollar; {{total_price}}</div>
    </div>
    <div class="d-flex">
      <div>
        <form action="/checkout" method="post">
          <input type="hidden" name="user" value="{{slug}}">
          <button type="submit" class=" btn btn-primary mx-4 text-decoration-none" id="checkoutButton" {{#unless
            numberProduct}}disabled{{/unless}}>Place Order</button>
        </form>
      </div>
      <div>
        <a class=" btn btn-danger mx-4 text-decoration-none" href="/user/{{slug}}">Cancel</a>
      </div>
    </div>
  </div>
</div>

{{!-- Handle Checkout button, Can't click checkout if no item in cart. --}}
<script>
  const numberProduct = {{numberProduct}}; 
  const checkoutButton = document.getElementById('checkoutButton');
  if (numberProduct === 0) {
    checkoutButton.addEventListener('click', function(e) {
      e.preventDefault(); // Prevent the link to redirect to order success view
    });
  }
</script>
